@font-face {
    font-family: Ripple;
    src: url(http://Localhost/TECHTEAM-SITE/TECHTEAM-SITE/assets/fonts/Ripple/Ripple-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
}

.background {
    height: auto;
    width: 100%;
    background-color: #E8F1F2;
    background-position: center;
    background-size: cover;
    position: absolute;
}


.rows{
	width: 1400px;
	height: 550px;
	position: relative;
	margin: 6% auto;
	background: #E8F1F2;
	padding: 5px;
	overflow: hidden;
    border-radius: 30px;
    box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, .2);
}

.row-container{
	width: 1400px;
	height: auto;
	position: relative;
	margin: 6% auto;
	background: #E8F1F2;
	padding: 5px;
	overflow: hidden;
    border-radius: 30px;
    box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, .2);
}

#products {
    width: 340px;
    height: 240px;
    padding: 40px;
}

.navigation {
    background-color: #E8F1F2;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
    overflow: hidden;
    padding: 0;
}

.navigation a {
    font-family: Ripple;
    float: left;
    color: #17202A;
    text-align: left;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 20px;
}

.navigation a:hover {
    background-color: #BFC9CA;
    color: black;
}

.navigation a.active {
    background-color: #BFC9CA;
    color: black;
}

.navigation-right {
    font-family: Ripple;
    float: right;
}

.information {
    margin: 5% 0%;
    font-family: Ripple;
    font-size: 20pt;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.product-navigation {
    left: 5%;
    top: 10px;
    position: relative;
}

.product-navigation a {
    background-color: #eee;
    color: black;
    text-decoration: none;
}

.product-navigation a:hover {
    background-color: #ccc;
   
}

#alerts {
    font-family: Ripple;
    color: red;
    left: 1%;
    position: absolute;
    top: 100px;
}

.slideshow {
    max-width: 450px;
    max-height:450px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}



.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.paragraph{
    position: relative;
    font-family: Ripple;
    font-size: 20pt;
    text-align: justify;
    margin: 50px;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}